@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>

    <partial name="_Styles" />
</head>
<body class="hold-transition login-page">

    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div>
                    <div>
                        @if (Model.IsSuccess == true)
                        {
                            <div class="alert alert-success" role="alert">
                                <p>
                                    You have updated your password successfully.
                                </p>
                                <p class="mb-0">
                                    <a asp-action="Login" asp-controller="Account">Login</a>
                                </p>
                            </div>
                        }
                        else
                        {

                            <form asp-action="ResetPassword" asp-controller="Account" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserId" class="form-control" />
                                <input type="hidden" asp-for="Token" class="form-control" />

                                <div class="form-group">
                                    <label asp-for="NewPassword" class="control-label"></label>
                                    <input asp-for="NewPassword" class="form-control" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                    <input asp-for="ConfirmNewPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Reset Password" class="btn btn-primary" />
                                </div>
                            </form>
                        }

                    </div>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->



    <partial name="_Scripts" />

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }
</body>
</html>
